[Unit]
Description=Network Model Executor
After=network.target

[Service]
ExecStart=/var/lib/nmexec/venv/bin/nmexec
Restart=always
User=nmexec
Group=nmexec

[Install]
WantedBy=multi-user.target
