#! /usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	rm -rf build dist
	dh_auto_clean


override_dh_auto_build:
	rm -rf dist
	python3.11 -m pip install -U build
	python3.11 -m build --wheel
	python3.11 -m pip download . -d ./dist

	dh_auto_build
